<!DOCTYPE html>
<html lang="en">
<head>
  <title>Adjuvant basic example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
  
<div class="container">
    <div id="slideer" class="row">
        <div class="col-1">
          slider
        </div>
        <div id="map" class="col-9">
          <img src="https://eoimages.gsfc.nasa.gov/images/imagerecords/39000/39594/Pyongyang_560.jpg" alt="Map">
        </div>
        <div id="infoOut" class="col-2">
          <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Data Output
              <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="#">blah</a></li>
                <li><a href="#">blahh</a></li>
                <li><a href="#">ahhhhh</a></li>
              </ul>
          </div>
        </div>
    </div>          
</div>

</body>
</html>
